body {
  font-family: Arial, sans-serif;
  background-color: #1d0245;
  padding: 20px;
  color:rgb(180, 206, 210)
}

.card1 {
  border: 4px solid #e1d1d1;
  padding: 16px;
  width: 250px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: rgb(65, 115, 207);
  box-shadow: rgb(102, 140, 193) 2px 2px 3px 3px;
}
.card1:hover{
  background-color: rgb(65, 115, 207);
  color: #e1d1d1;
  cursor: pointer;
  transition: ease-in-out 0.6s;
  transform: translateX(5px) scale(0.87);
}

button {
  margin-top: 10px;
}
button:hover {
  background-color: #e1d1d1;
  color: #1d0245;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  transform: translateX(20px) rotate(8deg) scale(1.2);

}
